# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environments
.env
.venv
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# ML / Data
*.pt
*.pth
*.bin
*.onnx
*.npy
*.npz
*.h5
*.hdf5
data/
*.zip
*.tar.gz
*.log

# Secrets
.env
*.key
